@use "sass:map";

$palette: (
  "primary-highlight": #EE765C,
  "secondary-highlight": #EE765C,

  "dark-background": #000000,
  "background": #121212,
  "light-background": #181818,
  "lightest-background": #262626,

  "dark-foreground": #434343,
  "foreground": #BD8FC0,
  "light-foreground": #d9aedc,
  "lightest-foreground": #eecaf0,
);


@function color($color-name) {
  $result: map.get($palette, $color-name);
  @return $result;
}

:export {
  teal: color("teal");
  purple: color("purple");
  khaki: color("khaki");
  white: color("white");
  black: color("black");
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}
